header {
    padding: 3px;
    display: inline;
}
.highscore-box {
    background-color: white;
    color: indigo;
    font-weight: bold;
    float: left;
}

.timerelement {
    float: right;
}

.quiz {
    margin-left: 200px;
    margin-right:200px;
    padding: 30px;
    display: block;
    text-align: center;

}

.display {
    display: block;
}

.hidden {
    display: none;
}



#right-answer {
    margin-top: 5px;
    border-top: 1px solid gray;
    color: gray;
    font-style: italic;
}

#wrong-answer {
    margin-top: 5px;
    border-top: 1px solid gray;
    color: gray;
    font-style: italic;
}

button {
    background-color: indigo;
    color: white;
    width: auto;
}

#answers-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    
}

#game-screen {

    justify-content: center;
    align-items: center;
}

